body { background-color: #EEE; overflow: visible !important; }
#calc1 .input-field { padding: 0 0.9rem !important; min-height: 3.7rem !important; }
.modal .modal-footer { padding: 24px; height: 96px; }
.alert { font-size: 2rem; text-align: center; padding: 4px; }
.spoilerCtrl { margin-left: auto; }
.collapsible-body.row { margin-bottom: 0; }
.sidenav-overlay { z-index: 996; }
.navbar-fixed { opacity: 0.9; }
section .container { margin: 64px auto 64px auto; }

#SCTN93867596 th, #SCTN93867596 td { padding: 0.5em 0.25em; }
#SCTN93867596 h4 { margin: 0 0 24px 0; /* height: 120px; line-height: 120px; */ }
#SCTN93867596 svg { margin: 24px auto 0 auto; }
#SCTN93867596 .pic { height: 128px; margin-top: 16px; }
#SCTN93867596 .container { margin-bottom: 128px; }

#SCNT94306750 p { margin: 1em 0; }
#SCNT94306750 img { border-radius: 16px; }
#SCNT94306750 { padding: 0; }
#SCNT94306750 > div { padding: 1rem 0 2rem 0; background: rgba(0, 0, 0, 0.4); }

h1 {
  margin-top: 0 !important;
  text-shadow: 4px 6px 20px #444;
  font-size: calc(1.525rem + 3.3vw);
  font-weight: bolder;
  line-height: 1.2;
}
h2, h3, h4, h5 {
  letter-spacing: .1em;
  text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
  font-family: 'Russo One', 'apple-system', BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', 'Fira Sans', Roboto, Oxygen, Ubuntu, 'Droid Sans', Arial, sans-serif !important;
  font-weight: bolder;
  color: #333;
}

header {
  /* background: linear-gradient(to bottom, #00F, #111);*/
  background-image: url('../assets/bgs/bg2-transformed.jpeg');
  background-size: cover;
  padding: 0 calc(1.5rem * .5);
}

header { padding: 3rem 0 3rem 0; }

header .logo {
  display: block;
  padding-top: 2.5rem; 
  filter: drop-shadow(6px 6px 6px #555);
  -webkit-filter: drop-shadow(6px 6px 6px #555);
}


header p { text-shadow: 4px 6px 12px #222; max-width: 512px; }

header .lead {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
  font-size: 1.5rem;
  font-weight: 300;
}

section {
  background-color: #FFF;
  padding: 1rem 0 2rem 0;
}

section h2 { margin-bottom: 3rem; }

#SCNT86958675 .row .col p.a {
  margin: 16px 0; text-transform: uppercase;
}
#SCNT86958675 .row .col p {

}
#SCNT86958675 .row .col img {
  width: 100%;
  max-width: 277px;
}
@media only screen and (min-width: 992px) and (max-width: 1400px) {
  #SCNT86958675 .row .col.s12 img {
    float: none !important;
  }
}
@media only screen and (min-width: 0) and (max-width: 534px) {
  #SCNT86958675 .row .col p { text-align: center; }
  #SCNT86958675 .row .col.s12 img {
    float: none !important;
  }
}
#SCNT83958114 {
  background-image: url('../assets/bgs/1647923968_2-gamerwall-pro-p-svetlo-sinii-fon-krasivie-2.jpg');
  background-attachment: fixed;
  background-size: cover;
/*  background: url('https://img.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1700006400&semt=ais') fixed repeat;*/
}

#SCTN86093571 .material-icons { font-size: 32px; margin-right: 16px; }
#SCTN86093571 .collapsible-header { font-weight: bolder; }
#SCTN86093571 .collapsible-body { font-weight: lighter; }

.call-to-action-btn-1 {
  border: none;
  border-radius: 4px;
  background-color: fuchsia; /* #ff9aff; */
  box-shadow: 0 0 5px #ef97e8;
  color: #fff;
  padding: 10px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 32px;
  line-height: 32px;
}
.call-to-action-btn-1:hover {
  box-shadow: 0 0 10px #ef97e8, 0 0 20px #ef97e8, 0 0 20px #fff inset;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

footer .input-field > label, footer .input-field input, footer form > button { font-size: 0.8em !important; }
footer form > button { line-height: 2.5em !important; height: auto !important; }

/*body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  overflow: hidden;
}*/

#container {
  /* background: linear-gradient(to bottom, #00F, #111);*/
  position: fixed;
  width: 100%;
  height: 200vh;
  top: -25vh;
  /* left: 50%;*/
  /* top: 50%;*/
  /* transform: translate3d(-50%, -40%, 0);*/
  /* z-index: 2147483648;*/
  z-index: 0;
}

canvas {
  display: block;
}