[Desktop Entry]
Version=1.0
Type=Link
Name=Светло синий фон - 69 фото
Comment=
Icon=user-bookmarks
URL=https://superwalls.top/20798-svetlo-sinij-fon.html
